<wicket:extend> 
<div class="post">
	<h2 class="title">Installed Servers</h2>
	<p class="byline">.</p>
	

	<div class="entry">
		<table class="servers" cellspacing="0">
			<thead>
				<tr>
					<th>Server Name</th>
					<th>State</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<span wicket:id="container">
				<tr wicket:id="servers">
					<td><span wicket:id="name">Test ID</span></td>
					<td><span wicket:id="state">Test ID</span></td>
					<td>
						<a href="#" wicket:id="delete">delete</a>
						<a href="#" wicket:id="startstoplink"><span wicket:id="startstoplabel">Test ID</span></a>
						<a href="#" wicket:id="viewlog">view log</a>
					</td>	
				</tr>
				</span>
			</tbody>
		</table>
	
	</div>
	

	<div class="meta">
		<p class="links">
			<wicket:link>
    			<a href = "CreateOpenVPNServerView.html">Create Server</a><br/>
			</wicket:link>
		</p>
	</div>
	
</div>
</wicket:extend>
