<html>
<head>
<title>OpenVPN Manager</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">VPN Server</a></h1>
			<h2><a href="http://www.g3.gnuler.com.ar/">By G3 Security</a></h2>
		</div>
		<!-- end div#logo -->
		<div id="menu">
			<ul>
				<li class="active"><a href="/vpn">VPN</a></li>
				<li><a href="#">Firewall</a></li>
				<li><a href="#">Router</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
		<!-- end div#menu -->
	</div>
	<!-- end div#header -->
	<div id="page">
		<div id="page-bgtop">
		
		
			<div id="content">
				<wicket:child/>
			</div>
			
			
			
			<!-- end div#content -->
			<div id="sidebar">
				<ul>

					<li>
						<h2>Firewall</h2>
						<ul>
							<li><a href="#">Policy</a></li>
							<li><a href="#">Address</a></li>
							<li><a href="#">Interfaces</a></li>
							<li><a href="#">Groups</a></li>
						</ul>
					</li>
					<li>
						<h2>VPN</h2>
						<ul>
							<li><a href="#" wicket:id="linktoserverlist">Servers</a></li>
							<li><a href="#" wicket:id="linktonewserver">New Server</a></li>
							<li><a href="#">Clients</a></li>
							<li><a href="#" wicket:id="linktopkimain">PKI</a></li>
						</ul>
					</li>
					<li>
						<h2>Router</h2>
						<ul>
							<li><a href="#">Static Router</a></li>
							<li><a href="#">Routing Table</a></li>
							<li><a href="#">Policy Routes</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
	<div id="footer">
		<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
	</div>
	<!-- end div#footer -->
</div>
<!-- end div#wrapper -->
</body>
</html>
