<wicket:extend> 
<div class="post">
	<h2 class="title">Certificate Authoritys</h2>
	<p class="byline">.</p>
	

	<div class="entry">
		<table>
		<tbody>
			<span wicket:id="container">
			<tr wicket:id="servers">
				<td><span wicket:id="name">Test ID</span></td>
<!--
				<td><span wicket:id="state">Test ID</span></td>
				<td><a href="#" wicket:id="delete">delete</a></td>
				<td><a href="#" wicket:id="startstoplink"><span wicket:id="startstoplabel">Test ID</span></a></td>
				<td><a href="#" wicket:id="viewlog">view log</a></td>
-->
			</tr>
			</span>
		</tbody>
		</table>
	
	</div>
	

	<div class="meta">
		<p class="links">
			<wicket:link>
    			<a href = "CreateCAView.html">Create Certificate Authority</a><br/>
			</wicket:link>
		</p>
	</div>
	
</div>
</wicket:extend>
